


body {
  font-family: 'Roboto', sans-serif;

}


h2 {
  margin : 5px 1% 5px 1% ;
}

section {

  margin : 20px 2% 20px 2%
}

aside {
  margin : 20px 2% 20px 2%;

}

.bouton{
  position:relative;
  left: 100px;
  right: 100px;

}

.innerhtml {

}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  background: #CFD8DC;
  border-radius: 6px;


}

.id {


  float: left;
  margin: 20px 2% 20px 2%;
  width: 25%;

}


.data {
  float: left;
  width: 30%;
  margin : 20px 2% 20px 2%;
}

.data2 {
  float: right;
  width: 30%;

  margin : 20px 2% 20px 2%;
}

.audio {
  float: left;
  margin: 20px 2% 20px 2%;
}
