body {
  font-family: sans-serif;
}

div {
    position : fixed; height: 100%; width: 100%;
    margin: 0% 2% 20px 2%;

}

.bouton{
  position:relative;
  left: 100px;
  right: 100px;

}

h2 {
  margin : 10px 1% 10px 1% ;
}

section {
  float: left;
  margin : 20px 2% 20px 2%
}

.id {
  float: left;
  font-size: 20px;
  margin: 20px 2% 20px 2%;
  width: 30%;
}
.group {
  background: #eaeaed;
  border-radius: 6px;
  clear: both;
}

.data {
  float: right;
  width: 63%;
}

.audio {
  float: left;
  margin: 20px 2% 20px 2%;

}
