
body {
  font-family: 'Roboto', sans-serif;

}


h2 {
  margin : 5px 1% 5px 1% ;
}

section {

  margin : 20px 2% 20px 2%
}

aside {
  margin : 20px 2% 20px 2%;

}

.bouton{
  position:relative;
  left: 100px;
  right: 100px;

}

.innerhtml {

}

.group:before,
.group:after {
  content: "";
  display: table;
}
.group:after {
  clear: both;
}
.group {
  background: #CFD8DC;
  border-radius: 6px;


}

.id {


  float: left;
  margin: 20px 2% 20px 2%;
  width: 25%;

}


.data {
  float: left;
  width: 30%;
  margin : 20px 2% 20px 2%;
}

.data2 {
  float: right;
  width: 32%;
  margin : 20px 2% 20px 2%;
}

.portraitL {
  float: left;
  margin: 0px 0px 0px 30px
}

.portraitR{
  float: right;
  margin: 0px 30px 0px 0px

}

.audio {
  float: left;
  margin: 20px 2% 20px 2%;
}

.flag{
  position: absolute;
  top: 10px;
  left: 50px;

}

.locationId {
  margin-top: 50px;
}

.vid {
    width: 550px;
    height: 310px;
    object-fit: cover;
    position: absolute;
    top: 13%;
    right: 0px;
    background-color: black;
}
#yt {
    display: none;
}

#returnYTbutton{
  display: none;
}

#ytbutton{
  display: none;
}
#content {
}
